.cvForm {
    text-align: center;

    .cvContainer {
        width: 70%;
        background-color: #3F51B5;
        display: inline-block;
        margin-top: 50px;
        border-radius: 10px;
        color: white;
        padding: 15px;

        > h1 {
            text-align: left;

            textarea{
                font-size: 30px;
                font-weight: bold;
                height: 40px;
            }
        }
        textarea {
            width: 100%;
            height: 100%;
            background: transparent;
            border: none;
            outline: none;
            color: white;
            resize: none;
            overflow-y: auto;
        }

        .full_name {
            display: inline-block;
            margin-left: 20px;
            float: left;
        }
        #full_name {
            width: 628px;
        }

    }
    .cvTable {
        width: 100%;
        border: 1px solid lightgrey;
        border-collapse: collapse;


        th {
            width: 200px;
            height: 80px;
        }

        th,td {
            text-align: left;
            padding: 5px 10px;
            border: 1px solid lightgrey;
        }
        td {
            word-wrap: break-word;
            width: auto;
        }
    }
    .pdfButton {
        width: 150px;
        height: 35px;
        color: white;
        border-radius: 5px;
        background-color: #3F51B5;
        cursor: pointer;
        border: none;
        padding: 10px;
    }
    .pdfButton:hover {
        background-color: #5463B5;
    }

    .resumeImage {
        width: 100px;
        height: 100px;
        object-fit: cover;
        float: left;
        cursor: pointer;
        margin-bottom: 20px;
    }

}
.success {
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 84px;
    color: white;
    position: absolute;
    transition: 0.5s;
}
.instruction {
    margin: 0;
    font-size: 25px;
    color: #5463B5;
    font-weight: bold;
}
